{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">Welcome, {{ user.username }} !</h2>
          <h5> This baby seal wants to say Hi! </h5>
            <image src= "http://37.media.tumblr.com/tumblr_m5uav5JDoF1qdey1zo1_500.png"></image>
        </div>
      </div>
    </div>
{% endblock content %}